@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: theme('colors.white');
  --black: theme('colors.black');

  --gray-050: theme('colors.gray.50');
  --gray-100: theme('colors.gray.100');
  --gray-200: theme('colors.gray.200');
  --gray-300: theme('colors.gray.300');
  --gray-400: theme('colors.gray.400');
  --gray-500: theme('colors.gray.500');
  --gray-600: theme('colors.gray.600');
  --gray-700: theme('colors.gray.700');
  --gray-800: theme('colors.gray.800');
  --gray-850: theme('colors.gray.850');
  --gray-900: theme('colors.gray.900');

  --blue-200: theme('colors.blue.200');
  --blue-400: theme('colors.blue.400');
  --blue-500: theme('colors.blue.500');
  --blue-600: theme('colors.blue.600');
  --blue-800: theme('colors.blue.800');

  --bg-primary: var(--white);
  --bg-secondary: var(--gray-050);

  --border-primary: var(--gray-100);

  --text-primary: var(--gray-850);
  --text-secondary: var(--gray-600);
  --text-blue: var(--blue-600);
}

.dark {
  --bg-primary: var(--gray-900);
  --bg-secondary: var(--gray-850);

  --border-primary: var(--gray-800);

  --text-primary: var(--gray-050);
  --text-secondary: var(--gray-400);
  --text-blue: var(--blue-400);
}

@font-face {
  font-family: 'Formula1-Regular';
  src: url('/fonts/Formula1-Regular.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Formula1-Bold';
  src: url('/fonts/Formula1-Bold.woff2') format('woff2-variations');
}
